/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	letter-spacing: 2px;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
}

.masthead {
    padding: 0.5em 1em;
    background-color: #2E323C;
    color: white;
	margin-bottom: 15px;
}

.masthead h1 {
	text-align: center;
	font-size: 2em;
}

.intro {
    padding: 1.5em 1em;
    color: black;
	font-weight: 500;
	text-align: justify;
}


.intro p {
	margin: 0 auto;
	max-width: 800px ;
}
.test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
	padding: 0 2em;
	
}

.test-wrapper {
    border: 5px solid lightgray;
	
}

#origin-text {
    margin: 0 0 1em;
    padding: 1em 2em;
    background-color: #DAE9E4;
	border-radius: 15px;
	box-shadow: 5px 5px 2.5px #D0D3C5;
	text-align: justify;
	
}

#origin-text content {
    margin: 0;
	font-weight: 500;
	text-align: center;
}


.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
}

.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer {
    font-size: 1.5em;
    font-weight: 400;
	padding: 10px;
	border-radius: 15px;
	background-color: #2E323C;
    color: white;
}

#reset {
    padding: .5em 25px;
    font-size: 1em;
    font-weight: 400;
    color: white;
    background-color: #2E323C;
	border-radius: 6px;
}


#reset span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reset span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.click {
	align-content: center;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#previous,
#next {
    background-color: white;
    border: 0.5px solid #2E323C;
    padding: 1px 5px 5px;
    font-weight: 900;
    font-size: 1rem;
    vertical-align: middle;
    border-radius: 2px;
}

.footer {
	text-align: center;
	margin: auto;
	padding: 1em;
	color: white;
	background-color: #2E323C;
	font-size: 18px;
	letter-spacing: 1.5px;
}

.footer a {
	color: white;
}

.footer a:hover {
	color: mediumaquamarine;
}
